@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --primary-dark: rgb(0, 0, 0);
    --primary-green: rgb(37, 222, 235);
}
body{
    background-color: var(--primary-dark);
    color: var(--primary-green);
    font-family: 'Montserrat', sans-serif;
}

h1{
    text-align: center;
}
.container{
    width: 50%;
    margin: auto;
}
input,label{
    display: block;
}

label{
    margin: 1rem;
}

input{
    padding: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
}
#check-number{
    display: block;
    margin-top: 1rem;
    margin: auto;
    background: transparent;
    color: var(--primary-green);
    border: 1px solid var(--primary-green);
    padding: 0.5rem;
    border-radius: 0.2rem;
}
#output-box{
    color: aliceblue;
    font-size: 30px;
    text-shadow: 0 0 1rem grey;text-align: center;
    margin: 1rem auto;
}